<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item">
        {{#link-to "home" class="layui-bt"}}主页{{/link-to}}
    </li>
    <li class="layui-nav-item">
        {{#link-to "notice" class="layui-bt"}}公告{{/link-to}}
    </li>
    <li class="layui-nav-item">
        {{#link-to "cooperation" class="layui-bt"}}协作{{/link-to}}
    </li>
    <li class="layui-nav-item">
        {{#link-to "device" class="layui-bt"}}设备{{/link-to}}
    </li>
    <li class="layui-nav-item">
        {{#link-to "people" class="layui-bt"}}人员{{/link-to}}
    </li>
    <li class="layui-nav-item">
        {{#link-to "login" class=""}}登陆{{/link-to}}
    </li>
    <li class="layui-nav-item">
        {{#link-to "register" class="layui-bt"}}注册{{/link-to}}
    </li>
</ul>