<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item">
        {{#link-to "home" class="layui-bt"}}主页{{/link-to}}
    </li>
    <li class="layui-nav-item">
        {{#link-to "notice" class="layui-bt"}}公告{{/link-to}}
    </li>
    <li class="layui-nav-item">
        {{#link-to "cooperation" class="layui-bt"}}协作{{/link-to}}
    </li>
    <li class="layui-nav-item">
        {{#link-to "device" class="layui-bt"}}设备{{/link-to}}
        {{!-- <a href="javascript:;">设备</a> --}}
        <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd>
                <a href="">移动模块</a>
            </dd>
            <dd>
                <a href="">后台模版</a>
            </dd>
            <dd>
                <a href="">电商平台</a>
            </dd>
        </dl>
    </li>
    <li class="layui-nav-item">{{#link-to "people" class="layui-bt"}}人员{{/link-to}}</li>
</ul>