<h2>cooperation page</h2>

<div>
    {{#link-to "cooperation.news" class="layui-btn"}}消息{{/link-to}}
    {{#link-to "cooperation.activity" class="layui-btn"}}活动{{/link-to}}
    {{#link-to "cooperation.askdevice" class="layui-btn"}}申请设备{{/link-to}}
</div>
{{outlet}}