<div class="secondRouteLink">
    <div class="link-div">
        {{#link-to "cooperation.index" class="layui-btn layui-btn-sm"}}所有{{/link-to}}
    </div>
    <div class="link-div">
        {{#link-to "cooperation.news" class="layui-btn layui-btn-sm"}}消息{{/link-to}}
    </div>
    <div class="link-div">
        {{#link-to "cooperation.activity" class="layui-btn layui-btn-sm"}}活动{{/link-to}}
    </div>
    <div class="link-div">
        {{#link-to "cooperation.askdevice" class="layui-btn layui-btn-sm"}}申请设备{{/link-to}}
    </div>
</div>

<div class="layui-container-field">

    {{search-entry}}

    <div id="cooperation-content" class="second-route-content">
        {{outlet}}
    </div>
</div>