<div class="">
    <div class="secondRouteLink">
        <div class="link-div">
            {{#link-to "device.index" class="layui-btn layui-btn-sm"}}所有设备{{/link-to}}
        </div>
        <div class="link-div">
            {{#link-to "device.camera" class="layui-btn layui-btn-sm"}}摄像机{{/link-to}}
        </div>
        <div class="link-div">
            {{#link-to "device.slr" class="layui-btn layui-btn-sm"}}单反{{/link-to}}
        </div>
        <div class="link-div">
            {{#link-to "device.light" class="layui-btn layui-btn-sm"}}灯组{{/link-to}}
        </div>
        <div class="link-div">
            {{#link-to "device.battery" class="layui-btn layui-btn-sm"}}电池{{/link-to}}
        </div>
        <div class="link-div">
            {{#link-to "device.live" class="layui-btn layui-btn-sm"}}直播设备{{/link-to}}
        </div>
        <div class="link-div">
            {{#link-to "device.stabilizer" class="layui-btn layui-btn-sm"}}稳定器{{/link-to}}
        </div>
        <div class="link-div">
            {{#link-to "device.stand" class="layui-btn layui-btn-sm"}}架子{{/link-to}}
        </div>
    </div>
</div>

<div class="layui-container-field">
    {{outlet}}
</div>