<div id="login-container">
    <div class="layui-container-field">
        <div class="form-div layui-container">
            <div class="layui-row">
                <div class="layui-col-md6 layui-col-md-offset3">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">用户名</label>
                                <input class="layui-input-inline layui-input" placeholder="用户名">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">密码</label>
                                <input class="layui-input-inline layui-input" placeholder="密码" type="password">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm">登陆</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{outlet}}