<div id="noticeLink" class="secondRouteLink">
    <div class="link-div">
        {{#link-to "notice.all" class="layui-btn layui-btn-sm"}}所有{{/link-to}}
    </div>
    <div class="link-div">
        {{#link-to "notice.my" class="layui-btn layui-btn-sm"}}我的{{/link-to}}
    </div>
</div>

<div class="layui-container-field">

    {{search-entry}}

    <div id="notice-content" class="second-route-content">
        {{outlet}}
    </div>

</div>