<div class="secondRouteLink">
    <div class="link-div">
        {{#link-to "people.index" class="layui-btn layui-btn-sm"}}所有人员{{/link-to}}
    </div>
    <div class="link-div">
        {{#link-to "people.manager" class="layui-btn layui-btn-sm"}}管理人员{{/link-to}}
    </div>
    <div class="link-div">
        {{#link-to "people.member" class="layui-btn layui-btn-sm"}}社员{{/link-to}}
    </div>
</div>

<div class="layui-container-field">

    {{search-entry}}

    <div id="people-content" class="second-route-content">
        {{outlet}}
    </div>
</div>